# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside

# DerivedData
DerivedData/

# Swift Package Manager
.build/

# CocoaPods
Pods/

# Tuist generated — run `tuist generate` to recreate locally
Derived/
*.xcworkspace
*.xcodeproj